periods.csv filter=lfs diff=lfs merge=lfs -text
GS_1_Sheffield_three filter=lfs diff=lfs merge=lfs -text
GS_1_Sheffield_threeperiods.csv filter=lfs diff=lfs merge=lfs -text
GS_1_Cardiff_threeperiods.csv filter=lfs diff=lfs merge=lfs -text
