periods.csv filter=lfs diff=lfs merge=lfs -text
GS_1_Sheffield_three filter=lfs diff=lfs merge=lfs -text
GS_1_Sheffield_threeperiods.csv filter=lfs diff=lfs merge=lfs -text
GS_1_Cardiff_threeperiods.csv filter=lfs diff=lfs merge=lfs -text
GS_2_Sheffield_with_coordinates.csv filter=lfs diff=lfs merge=lfs -text
GS_3_Cardiff_with_coordinates_within400.csv filter=lfs diff=lfs merge=lfs -text
GS_3_Sheffield_with_coordinates_within400.csv filter=lfs diff=lfs merge=lfs -text
GS_4_Cardiff_distance400_YorN.csv filter=lfs diff=lfs merge=lfs -text
GS_4_Sheffield_distance400_YorN.csv filter=lfs diff=lfs merge=lfs -text
MC_1_housing filter=lfs diff=lfs merge=lfs -text
statistic_standardized.csv filter=lfs diff=lfs merge=lfs -text
MC_2_city filter=lfs diff=lfs merge=lfs -text
and filter=lfs diff=lfs merge=lfs -text
rural.csv filter=lfs diff=lfs merge=lfs -text
MC_3_housing_standardized_classify.csv filter=lfs diff=lfs merge=lfs -text
homes_all_housing filter=lfs diff=lfs merge=lfs -text
type.csv filter=lfs diff=lfs merge=lfs -text
SH_3_Small filter=lfs diff=lfs merge=lfs -text
