periods.csv filter=lfs diff=lfs merge=lfs -text
GS_1_Sheffield_three filter=lfs diff=lfs merge=lfs -text
GS_1_Sheffield_threeperiods.csv filter=lfs diff=lfs merge=lfs -text
GS_1_Cardiff_threeperiods.csv filter=lfs diff=lfs merge=lfs -text
GS_2_Sheffield_with_coordinates.csv filter=lfs diff=lfs merge=lfs -text
GS_3_Cardiff_with_coordinates_within400.csv filter=lfs diff=lfs merge=lfs -text
GS_3_Sheffield_with_coordinates_within400.csv filter=lfs diff=lfs merge=lfs -text
GS_4_Cardiff_distance400_YorN.csv filter=lfs diff=lfs merge=lfs -text
GS_4_Sheffield_distance400_YorN.csv filter=lfs diff=lfs merge=lfs -text
MC_1_housing filter=lfs diff=lfs merge=lfs -text
statistic_standardized.csv filter=lfs diff=lfs merge=lfs -text
